/* styles/Features.module.css */

.features_large{
    background-color: rgba(0, 0, 0, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* height: 90%; */
    width: 98vw;
    margin: 1vw;
    border-radius: 5rem;
    color: white;
    font-family: "Aclonica", sans-serif;
    z-index: 50;
}

.features_box1{
    /* background-color: red; */
    display: flex;
    margin: 3rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img1_section{
    /* background-color: blue; */
    margin: 2rem;
    height: 30rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    border:2px solid white;
    border-radius: 20px;
}
.img1{
    border-radius: 1rem;
}
.content1_section{
    /* background-color: hotpink; */
    margin: 2rem;
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cr_title1{

    font-size: 3rem;
    margin: 1rem 2rem;
    font-weight: bold;
}
.cr_text1{

    font-size: 1rem;
    margin: 2rem;
    color: gray;
}
.btncont1{
    display: flex;
    justify-content: center;
    margin: 2rem;
    align-items: center;
    margin-left: 0rem;
}
.btn1_i{
    height: 3.5rem;
    width: 9rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: black;
    
    color: white;
    font-weight: bold;
    border: 0.1rem solid white;
    margin: 2rem;
    margin-left: 0rem;
    cursor: pointer;
    transition: transform .2s;
}
.btn1_i:hover,.btn2_i:hover{
    transform: scale(1.1);
}
.features_box2{
    /* background-color: green; */
    display: flex;
    margin: 3rem;
    margin-top: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content2_section{
    /* background-color: aqua; */
    margin: 2rem;
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cr_title2{
    font-size: 3rem;
    margin: 1rem 2rem;
    font-weight: bold;
}
.cr_text2{
    font-size: 1rem;
    margin: 2rem;
    color: gray;
}
.btncont2{
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
    margin-left: 0rem;
}
.btn2_i{
    height: 3.5rem;
    width: 9rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 0.1rem solid white;
    margin: 2rem;
    margin-left: 0rem;
    cursor: pointer;
}
.btn2_ii{
    height: 3.5rem;
    width: 9rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: rgb(199, 196, 196);
    color: black;
    font-weight: bold;
    margin: 2rem;
    cursor: pointer;
}
.img2_section{
    /* background-color: darkorange; */
    margin: 2rem;
    height: 30rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border:2px solid white;
    border-radius: 20px;
    transition: transform .2s;
}
.img1_section:hover,.img2_section:hover{
    transform: scale(1.1);
}
.img2{
border-radius: 1rem;
}
