/* styles/Navbar.module.css */

.navbar {
  font-family: "Aclonica", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; /* Set your desired background color or use 'transparent' */
  padding: 15px;
  position: fixed;
  width: 98vw;
}

.logo {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.logo .head{
  width: 100%;
}
.logo .head .top{
  font-size: 25px;
  color: rgb(216, 0, 61);
}
.logo .head .bottom{
  color: rgb(23, 0, 113);
}

.canvas {
  border: 5px solid black;
  background-size: cover;
}
.logo img {
  width: 100%; /* Set the width of your 3D model icon */
}

.links a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color:rgb(255, 0, 0);
  font-weight: 300;
  font-size: 16px;
  transition: .2s ease-in-out;
}
.links a:hover {
  color: rgb(0, 0, 138);
  /* text-decoration: overline 3px; */
  letter-spacing: 0.8px;
}

.auth a {
  margin: 0 5px;
  padding: 15px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size: 13px;
  background-color: rgb(34, 0, 136);
  transition: .2s ease-in-out;
}
.auth a:hover{
  letter-spacing: 0.8px;
}

/* Add more styling as needed */
