/* styles/Navbar.module.css */

.navbar {
  font-family: "Aclonica", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; /* Set your desired background color or use 'transparent' */
  padding: 15px;
  
}

.logo {
  width: 100px;
  height: 100px;
}

.canvas {
  border: 5px solid black;
  background-size: cover;
}
.logo img {
  width: 100%; /* Set the width of your 3D model icon */
}

.links a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-weight: 200;
  font-size: 16px;
}

.auth a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-weight: 200;
  font-size: 16px;
}

/* Add more styling as needed */
